<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="px-4 pb-5 pt-1 self-center justify-center sticky bottom-0 bg-base-200 text-sm " >
    <a class="text-sm text-blue-700 font-bold" href="tel:+491735728248">Tel: +49 173-5728248</a><br>
    <a class="text-sm text-blue-700 " href="mailto:info@mertens-gebaeudetechnik.de">info@mertens-gebaeudetechnik.de</b></a><br>
    <br>
    Mertens Gebäudetechnik<br>
    Hülchrather Str. 13<br>
    41516 Grevenbroich<br>
    <br>Geschäftsführung: Dennis Mertens
    Steuernummer: 114/5419/4725<br>
    Amtsgericht Mönchengladbach<br>
    <br>
    © 2025<br>
    <p class="text-xs text-slate-400 leading-tight italic">Layout based on Astrofy Template<br>by <a href="https://manuelernestog.github.io/">Manuel Ernesto</a></p>
    <div>
